[submodule "Framework2D/third_party/imgui"]
	path = Framework2D/third_party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Framework2D/third_party/glfw"]
	path = Framework2D/third_party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Framework2D/third_party/ImGuiFileDialog"]
	path = Framework2D/third_party/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
[submodule "Framework2D/third_party/Eigen"]
	path = Framework2D/third_party/Eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "Framework2D/third_party/annoy"]
	path = Framework2D/third_party/annoy
	url = https://github.com/spotify/annoy
